@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
}
header{
  display: flex;
  flex-direction:column;
  height:auto;
  margin: 0rem;
}

#menu-btn {
  padding: 5px;
  cursor: pointer;
  align-self: center;
  margin-top: -0.5rem;
  margin-left: 1rem;
}

#nav-top {
  display: flex;
  padding: 20px 20px 20px 10px;
}

#nav-top img {
margin-left: 3rem;
height: 5rem;
}

nav {
  background: linear-gradient(
    180deg,
    rgba(78, 149, 37, 0.13),
    rgba(78, 149, 37, 0.07)
  );
  flex: 0 0 auto;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: flex;
  color:#403C3C;
  background: transparent;
  text-decoration: none;
  padding: 25px 20px 10px 20px;
  font-size: 16px;
  font-weight: 400;
}

nav ul li a:hover {
  color: #4e9525;
}

#links {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-top: 0rem;
}


.bar1,
.bar2,
.bar3 {
  height: 4px;
  width: 27px;
  background:#5B5252;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.turn .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.turn .bar2 {
  opacity: 0;
}

.turn .bar3 {
  transform: rotate(45deg) translate(-7px, -5.5px);
}

.sidebar ul {
  list-style-type: none;
  text-align: center;
  width: 150px;
  margin: 2rem 0 0 0rem;
  background-color: white;
  background-size:cover;
  box-shadow: 0px 6.82096px 20.4629px rgba(0, 0, 0, 0.15);
  border-radius: 0px 17.0524px 17.0524px 0px;
  position: absolute;
}

  .sidebar ul li:first-of-type a:first-of-type{
    color: #4e9525;
  }
  .sidebar ul li:first-of-type a:first-of-type:active {
    border-radius: 0px 17.0524px 17.0524px 0px;
  }

  .sidebar ul li:first-of-type a:first-of-type:hover {
    border-radius: 0px 17.0524px 0px 0px;
  }

#side {
  display: none;
}

.sidebar ul li a {
  color:#605E5C;
  display: block;
  text-decoration: none;
  padding: 60px 20px 0px 20px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 0.85262px solid #BDD8AD;
}

.sidebar ul li a:active {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sidebar ul li a:hover {
  background-color: #f4fdef;
}

.sidebar ul li:last-of-type a:last-of-type {
  border-bottom: none;
  padding-top: 60px 20px;
  margin-bottom: 0;
}

.sidebar ul li:last-of-type a:last-of-type:active {
border-radius: 0px 17.0524px 17.0524px 0px;
}

.sidebar ul li:last-of-type a:last-of-type:hover {
  border-radius: 0px 17.0524px 17.0524px 0px;
  }  

.home{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}
.home h1{
  color: #4e9525;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-top: 25px;
}
.home p{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 20px;
  margin-left: 0;
}
.home form .inputBx{
  margin-bottom: 0;
}
.home form .inputBx h1
{
    font-size: 15px;
    font-weight: 400;
}
.home form .inputBx .ref::placeholder
{
    font-size: 11px;
    font-weight: 500;
}
.home form .inputBx input
{
    width: 100%;
    padding:20px 20px;
    outline: none;
    font-weight: 500;
    border: 1px solid #bcd7ac;
    color: #000;
}
.check{
    
  top: 0;
  left: 0;
  display: inline-block;
  justify-content: space-between;
  margin-bottom: 20px;
}
.inputBx h1{
  padding-bottom: 20px;
  text-align: left;
  color: #000;
}
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-color: #fff;
  cursor: pointer;
  outline: 1px solid #4e9525;
}
label{
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  margin-right: 90px;
}
input[type="checkbox"]::after{
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 900;
  content: "\f00c";
  color: #4e9525;
  display: none;
}
input[type="checkbox"]:hover{
  background-color: #fff;
}
input[type="checkbox"]:checked{
  background-color: #fff;
}
input[type="checkbox"]:checked::after{
  display: block;
}
.home form .inputBx #des{
  width: 100%;
    padding:60px 20px;
    outline: none;
    font-weight: 500;
    border: 1px solid #bcd7ac;
    font-size: 10px;
    color: #000;
}
.home form .inputBx button
{
    background: #4e9525;
    color: #fff;
    outline: none;
    border: none;
	border-radius: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}
.home form .inputBx button:hover
{
    background: #55a725;
}
@media (max-width: 600px) {
  #menu-btn {
    padding: 0px;
    cursor: pointer;
    align-self: center;
    margin-top: 0rem;
    margin-left: 0.5rem;
}

  .bar1,
  .bar2,
  .bar3 {
    height: 3px;
    width: 23px;
  }

  nav ul {
    display: flex !important;
    justify-self: flex-end;
  }
  
  #nav-top {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 10px;
  }

  #nav-top img {
    margin-left: 2rem;
    margin-top: 0rem;
    height: 3rem;
    }

    nav ul li a {
      display: flex;
      color:#403C3C;
      padding: 10px 8px 10px 10px;
      font-size: 12px;
      font-weight: 400;
    }

    #links {
      margin-left: 0;
    }

    .turn .bar1 {
      transform: rotate(-45deg) translate(-6px, 2px);
    }
      
    .turn .bar3 {
      transform: rotate(45deg) translate(-8px, -6px);
    }

    .sidebar ul {
    margin: 0rem 0 0 0rem;
    width: 100%;
    position: relative;
    border-radius: 0px 10px 10px 0px;

  }

  .sidebar ul li a {
    text-align: center;
    color:#605E5C;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 0.85262px solid #BDD8AD;
  }
}

@media(max-width: 1024px) {

.home {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  margin-bottom: 50%;
}
}
@media(max-width: 900px) {
  #menu-btn {
    padding: 0px;
    cursor: pointer;
    align-self: center;
    margin-top: 0rem;
    margin-left: 0.5rem;
}

  .bar1,
  .bar2,
  .bar3 {
    height: 3px;
    width: 23px;
  }

  nav ul {
    display: flex !important;
    justify-self: flex-end;
  }
  
  #nav-top {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 10px;
  }

  #nav-top img {
    margin-left: 2rem;
    margin-top: 0rem;
    height: 3rem;
    }

    nav ul li a {
      display: flex;
      color:#403C3C;
      padding: 10px 8px 10px 10px;
      font-size: 12px;
      font-weight: 400;
    }

    #links {
      margin-left: 0;
    }

    .turn .bar1 {
      transform: rotate(-45deg) translate(-6px, 2px);
    }
      
    .turn .bar3 {
      transform: rotate(45deg) translate(-8px, -6px);
    }

    .sidebar ul {
    margin: 0rem 0 0 0rem;
    width: 100%;
    position: relative;
    border-radius: 0px 10px 10px 0px;

  }

  .sidebar ul li a {
    text-align: center;
    color:#605E5C;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 0.85262px solid #BDD8AD;
  }
  .home {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    margin-bottom: 30%;
  }
  }
@media(max-width: 414px) {
  
  .home {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}
}


