body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.page {
  padding-left: 50px;
}
.top1 h3 {
  text-align: center;
  color: #4e9525;
  font-size: 27.1849px;
  font-weight: 480;
  padding-top: 100px;
}
.top1 button {
  margin-top: 42px;
  margin-left: 325px;
  background-color: #4e9525;
  width: 270px;
  height: 50.71px;
  color: white;
  box-shadow: 0px 4.8613px 14.5839px rgba(155, 203, 127, 0.38);
  border: none;
  font-size: 10.311px;
  cursor: pointer;
  transition: all 1s;
  display: block;
}
.button:hover {
  background: transparent;
  color: #4e9525;
  border: 1px black;
  font-size: 12.311px;
  font-weight: 500;
}
.top2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 700.04px;
  height: 150.26px;
  box-shadow: 0px 7.51455px 22.5437px rgba(159, 150, 150, 0.15);
  margin-left: 325px;
  margin-top: 45.72px;
}
.top2 h4 {
    padding-left: 30px;
  color: #4e9525;
  font-size: 18px;
  font-weight: 500;
  padding-top: 13.27px;
}
.top2 p {
  flex-direction: row;
  margin-top: 25px;
  /* text-align: center; */
  align-self: center;
  font-size: 12px;
  font-weight: 500;
}
.top3 {
  margin-left: 935px;
  margin-top: 10px;
}
.top3 a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}
.top4 {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 700.04px;
  height: 120.5px;
  box-shadow: 0px 7.51455px 22.5437px rgba(159, 150, 150, 0.15);
  margin-left: 375px;
  align-items: center;
  justify-content: space-between;
  margin-top: 15.72px;
}
.wall {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4e9525;
  padding-left: 26px;
  font-weight: 500;
}
.p1 {
  padding-bottom: 28px;
}
.p2 {
  font-size: 19px;
  font-weight: 500;
}
.fund {
  padding-top: 62px;
  justify-self: flex-end;
}
.fund button {
  background-color: #4e9525;
  width: 200px;
  height: 40.71px;
  color: white;
  align-self: baseline;
  margin-left: 300px;
  border: none;
  margin-right: 37px;
  margin-bottom: 30px;
  font-size: 11px;
  cursor: pointer;
  transition: all 1s;
  display: block;
}
.dif {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: #c5eaad8f;
  width: 700px;
  margin-left: 325px;
  height: 62px;
}
.amount {
  display: flex;
  flex-direction: row;
  border-right: 1px solid black;
  align-items: flex-end;
  padding-left: 20px;
  padding-bottom: 10.27px;
}
.return {
  display: flex;
  justify-items: flex-end;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
  padding-left: 20px;
  padding-bottom: 10.27px;
}
.num {
  margin-left: 12px;
  color: #4e9525;
  font-size: 18px;
  font-weight: 500;
}
.text {
  font-size: 12px;
  color: #70726e;
}

@media screen and (max-width: 1024px) {
  .page {
    padding-left: 0px;
  }
  .top1 h3 {
    margin-left: 350px;
    text-align: unset;
  }
  .top1 button {
    margin-top: 42px;
    margin-left: 210px;
  }
  .top2 {
    margin-left: 210px;
  }
  .top3 {
    margin-left: 770px;
    margin-top: 10px;
  }
  .top4 {
    margin-left: 210px;
  }
  .dif {
    margin-left: 210px;
  }
}
@media screen and (max-width: 800px) {
  .top1 h3 {
    font-weight: 480;
    margin-left: 310px;
    padding-top: 70px;
    font-size: 25.5px;
  }
  .top1 button {
    margin-left: 180px;
    width: 210px;
  height: 40.71px;
  font-size: 9.311px;
  }
  .top2 {
    width: 500.04px;
    height: 120.26px;
    margin-left: 180px;
    margin-top: 30.72px;
  }
  .top2 h4 {
    font-size: 16px;
    font-weight: 500;
  }
  .top2 p {
    /* text-align: unset; */
    padding-left: 5px;
    font-size: 11px;
  }
  .top3 {
    margin-left: 550px;
    margin-top: 0.0px;
  }
  .top3 a {
    font-size: 11px;
    font-weight: 500;
  }
  .top4 {
    width: 500px;
    height: 100.5px;
    margin-left: 180px;
    margin-top: 12.72px;
  }
  .wall {
    padding-left: 26px;
    font-weight: 500;
  }
  .p1 {
    font-size: 13.5px;
    padding-bottom: 20px;
    font-weight: 500;
  }
  .p2 {
    font-size: 16px;
    font-weight: 500;
  }
  .fund button {
    width: 180px;
    height: 35.71px;
    margin-left: 225px;
    font-size: 10px;
  }
  .dif {
    width: 500px;
    margin-left: 180px;
    height: 40px;
  }
  .amount {
    padding-left: 10px;
    padding-bottom: 8.27px;
  }
  .return {
    padding-left: 10px;
    padding-bottom: 8.27px;
  }
  .num {
    margin-left: 7px;
    font-size: 14.5px;
    font-weight: 500;
  }
  .text {
    font-size: 10px;
  }
}
@media screen and (max-width: 700px){
    .top1 h3 {
        font-size: 18.1849px;
        font-weight: 450;
        padding-top: 60px;
        margin-left: 115px;
      }
      .top1 button {
        margin-top: 32px;
        margin-left: 115px;
        width: 210px;
        height: 40.71px;
        font-size: 9.311px;
      }
      .button:hover {
        font-size: 11.311px; 
      }
      .top2 {
        width: 220.04px;
        height: 250.26px;
        margin-left: 110px;
        margin-top: 20.72px;
      }
      .top2 h4 {
        text-align: center;
        padding-left: 0;
        font-size: 15px;
        padding-top: 13.27px;
      }
      .top2 p {
        align-self: center;
        padding-left: 0;
        margin-top: 60px;
        font-size: 11px;
        font-weight: 500;
      }
      .top3 {
        margin-left: 225px;
      }
      .top3 a {
        font-size: 9px;
      }
      .top4 {
        flex-direction: column;
        width: 220.04px;
        height: 200.5px;
        margin-left: 110px;
        margin-top: 15px;
      }
      .wall {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #4e9525;
        padding-left: 10px;
        font-weight: 500;
      }
      .p1 {
        padding-bottom: 28px;
      }
      .p2 {
        font-size: 17px;
        font-weight: 500;
      }
      .fund {
        padding-top: 10px;
        justify-self: flex-end;
      }
      .fund button {
        width: 190px;
        height: 35.71px;
        margin-left: 37px;
        margin-bottom: 20px;
        font-size: 10px;
      }
      .dif {
        display: flex;
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        background-color: #c5eaad8f;
        width: 220px;
        margin-left: 110px;
        height: 40px;
      }
      .amount {
        padding-left: 3px;
        padding-bottom: 6.27px;
      }
      .return {   
        padding-left: 5px;
        padding-bottom: 6.27px;
      }
      .num {
        margin-left: 0px;
        font-size: 14px;
        font-weight: 500;
        padding-right: 7px;
      }
      .text {
        font-size: 9.5px;
      }
}
@media screen and (max-width: 400px){
    .top1 h3 {
        font-size: 18px;
        margin-left: 75px;
      }
      .top1 button {
        margin-top: 32px;
        margin-left: 75px;
        width: 208px;
        height: 40px;
        font-size: 9px;
      }
      .top2 {
        margin-left: 70px;
        margin-top: 15.72px;
      }
      .top2 h4 {
        font-size: 15px;
        padding-top: 15.27px;
      }
      .top2 p {
        flex-direction: row;
        /* text-align: center; */
        align-self: center;
        font-size: 9px;
        font-weight: 500;
      }
      .top3 {
        margin-left: 190px;
      }
      .top3 a {
        font-size: 8.5px;
      }
      .top4 {
        margin-left: 70px;
      }
      .dif {
        margin-left: 70px;
      }
}
